{% extends "base_checkout.html" %}
{% load price_filter %}


{% block content %}



<div  class="main_content">
    <div  class="section">
        <div  class="container">

            <div  class="row">
                <div  class="col-md-6">
                    <div  class="heading_s1">
                        <h4 >Information Facturation</h4>
                    </div>
                    {% if user.is_authenticated %}
                        {% if user.addresses.all %}
                        <!-- Cas ou l'utilisateur a des adresses-->
                            <select name="address_billing_id" id="address_billing_id" class="form-control">
                                {% for address in user.addresses.all %}
                                    <option value="{{address.id}}">
                                        {{address.full_name}} - {{address.street}}  {{address.city}}  {{address.code_postal}}
                                    </option>
                                {% endfor %}
                            </select>
                        {% else %}
                        <!-- Cas ou l'utilisateur n'a pas d'adresses-->
                            <form method="post">
                                {% csrf_token %}
                                {{ address_form }}
                                <div class="btn btn-success my-1">Enregistrer</div>
                            </form>
                        {% endif %}
                    {% endif %}
                    <div  class="heading_s1">
                        <h4 >Changer Societe Livraison</h4>
                        <select class="form-control" name="carrier_id" id="carrier_id">
                            {% for carrier in carriers %}
                                <option {% if cart.carrier_id == carrier.id %} selected {% endif %} value="{{ carrier.id }}">{{ carrier.name }} ({{ carrier.price | format_price }})</option>
                            {% endfor %}
                        </select>
                    </div>

                </div>
                <div  class="col-md-6">
                    <div  class="order_review">
                        <div  class="heading_s1">
                            <h4 >Your Orders</h4>
                        </div>
                        <div  class="table-responsive order_table">
                            <table  class="table">
                                <thead >
                                    <tr >
                                        <th >Image</th>
                                        <th >Product</th>
                                        <th >Total</th>
                                    </tr>
                                </thead>
                                <tbody >
                                    <!-- Boucle d'affichage des produits du panier -->
                                    {% for item in cart.items %}
                                    <tr >
                                        <td  class="product-thumbnail">
                                            <a>
                                                <img  width="25" height="25" alt="product : {{ item.product.name }}" src="{{ item.product.image }}">
                                            </a>
                                        </td>
                                        <td >{{ item.product.name }} 
                                            <span class="product-price">{{ item.product.solde_price | format_price }}</span>
                                            <span class="product-qty">x {{ item.quantity }}</span></td>
                                        <td >{{ item.sub_total_ttc | format_price }}</td>
                                    </tr>
                                   {% endfor %}

                                </tbody>
                                <tfoot >
                                    <tr >
                                        <th>HT</th>
                                        <td></td>
                                        <td class="product-subtotal"><span class="cart_price"><span class="price_symbole"></span></span>{{ cart.sub_total_ht | format_price }}</td>
                                    </tr>
                                    <tr >
                                        <th>Taxe</th>
                                        <td></td>
                                        <td class="product-tax"><span class="cart_price"><span class="price_symbole"></span></span>{{ cart.taxe_amount | format_price }}</td>
                                    </tr>
                                    <tr >
                                        <th>Livraison ({{cart.carrier_name}})</th>
                                        <td></td>
                                        <td><span class="cart_price"><span class="price_symbole"></span></span>{{ cart.shipping_price | format_price }}</td>
                                    </tr>
                                    <tr >
                                        <th>Total</th>
                                        <td></td>
                                        <td class="product-subtotal"><span class="cart_price"><span class="price_symbole"></span></span>{{ cart.sub_total_with_shipping | format_price }}</td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <div  class="payment_method">

                        </div>
                        <a  href="#" class="btn btn-fill-out btn-block">Payer
                            ({{ cart.sub_total_with_shipping | format_price }})</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block scripts %}
<script>
    // récupération du transporteur choisi dans le select
    carrierForm = document.querySelector('select#carrier_id')

    //fonction de mise à jour en fonction du choix du transporteur
    const updateCarrier = (event) => {
        const { name, value } = event.target
       
        //On vérifie si carrier id est défini ou non 
        if (!carrier_id) {
            return
        }

        const queryParams = new URLSearchParams(window.location.search)

        if (queryParams.has(name)) {
            queryParams.set(name, value)
        } else {
            queryParams.append(name, value)
        }

        //Récupération de la nouvelle url
        const newUrl = `${window.location.origin}${window.location.pathname}?${queryParams.toString()}`

        console.log(newUrl)

        // Actualisez le navigateur avec la nouvelle URL
        window.location.href = newUrl;
    }
    carrierForm.addEventListener('change', updateCarrier)
</script>
{% endblock %}